<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/foreground"
        android:label="@string/app_name"
        android:roundIcon="@drawable/foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ecomigo"
        tools:targetApi="31">
        <activity android:name=".SearchActivity" />
        <activity android:name=".SustainableActivity" />
        <activity android:name=".RecyclingGuide" />
        <activity android:name=".ApimapsActivity" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Ecomigo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBf16092Ew_w5eskQ7vsQOE1LzZy6HpKRM" />

    </application>

    <uses-permission android:name="android.permission.INTERNET"
        tools:ignore="ManifestOrder" />


</manifest>